# ESP32 (Original M5Paper)
CONFIG_SPIRAM_SIZE=-1
CONFIG_SPIRAM_SPEED_40M=y
CONFIG_SPIRAM_CACHE_WORKAROUND=y
CONFIG_SPIRAM_BANKSWITCH_ENABLE=y
CONFIG_SPIRAM_BANKSWITCH_RESERVE=8

# Device Type
CONFIG_EBOOK_DEVICE_M5PAPER=y
# CONFIG_EBOOK_DEVICE_M5PAPERS3 is not set
